<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CSV Web Data Connector</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A simple Tableau Web Data Connector for connecting to CSVs."
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js"></script>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="row">
          <span class="header">CSV File Connector</span
          ><a target="_blank" href="https://glitch.com/edit/#!/simple-csv-wdc?path=README.md"
            ><div class="info" title="More Info">?</div></a
          >
        </div>
        <p class="label">Enter your CSV's URL:</p>
        <div class="row">
          <input id="url" type="url" />
        </div>
        <p class="label small" onclick="toggleAdvanced()">Advanced +</p>
        <div class="bearerDiv hidden" id="advanced">
          <p class="label bearerLabel">Bearer token: </p>
          <input id="token" type="text" />
          <select id="method">
            <option value="GET" selected>GET</option>
            <option value="POST">POST</option>
          </select>
        </div>
        <button class="primary" onclick="_submitDataToTableau()">Get Data!</button>
        <div class="error"></div>
      </div>
    </div>
    <img src="https://devplat-hit-counter.herokuapp.com/counter.png" alt="" style="display:none;" aria-hidden="true"><!-- Hit tracker -->
  </body>
</html>
