<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CSV Web Data Connector</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A simple Tableau Web Data Connector for connecting to CSVs."
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.min.js"></script>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="">
          <div class="is-flex is-justify-content-center">
            <h1 class="title">CSV URL Connector</h1>
            <a
              target="_blank"
              href="https://github.com/KeshiaRose/Basic-CSV-WDC"
            >
              <div class="info" title="More Info">?</div>
            </a>
          </div>

          <div class="field">
            <label class="label">Enter your CSV's URL:</label>
            <div class="control">
              <input class="input" id="url" type="url" />
            </div>
          </div>

          <p class="advanced" onclick="toggleAdvanced()">Advanced +</p>
          <div class="hidden block" id="advanced">
            <div class="field">
              <label class="label is-small">Method</label>
              <div class="control">
                <div class="select is-fullwidth is-small">
                  <select id="method">
                    <option value="GET" selected>GET</option>
                    <option value="POST">POST</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label is-small">Bearer token:</label>
              <div class="control">
                <input class="input is-small" id="token" type="text" />
              </div>
            </div>

            <div class="field">
              <label class="label is-small">Custom delimiter:</label>
              <div class="control">
                <input
                  class="input is-small"
                  id="delimiter"
                  type="text"
                  maxlength="1"
                  size="1"
                  placeholder="One character, default is comma"
                />
              </div>
            </div>
            <div class="field">
              <label class="label is-small"
                >Encoding:
                <a
                  href="https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings"
                  target="_blank"
                  >supported</a
                ></label
              >
              <div class="control">
                <input
                  class="input is-small"
                  id="encoding"
                  type="text"
                  placeholder="Ex: iso-8859-1, default is utf-8"
                />
              </div>
            </div>
          </div>

          <div class="tabs is-toggle is-fullwidth is-small">
            <ul>
              <li id="typed">
                <a
                  href="javascript:_setMode('typed')"
                  class="is-flex is-flex-direction-column"
                >
                  <span><b>Strict Typed Mode</b></span>
                  <span>Infer column data types and try to clean data</span>
                  <span><i>Slow, don't use with large files</i></span>
                </a>
              </li>
              <li id="loosetyped" class="is-active">
                <a
                  href="javascript:_setMode('loosetyped')"
                  class="is-flex is-flex-direction-column"
                >
                  <span><b>Loose Typed Mode</b></span>
                  <span>Infer column data types but don't clean data</span>
                  <span><i>Faster, use with well structured files</i></span>
                </a>
              </li>
              <li id="fast">
                <a
                  href="javascript:_setMode('fast')"
                  class="is-flex is-flex-direction-column"
                >
                  <span><b>Fast Mode</b></span>
                  <span>Bring all values in as strings, no cleaning</span>
                  <span><i>Fastest, but you manually set data types</i></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="buttons">
            <button
              class="button is-primary is-fullwidth"
              onclick="_submitDataToTableau()"
            >
              Get Data!
            </button>
          </div>
        <p class="smallLabel" style="text-align:center">
          Want to support hosting this free WDC? <a href="https://www.buymeacoffee.com/KeshiaRose" target="_blank">Buy me some cheese! 🧀</a> 
        </p>
          <div class="error"></div>
        </div>
      </div>
    </section>

    <img
      src="https://devplat-hit-counter.herokuapp.com/counter.png"
      alt=""
      style="display:none;"
      aria-hidden="true"
    /><!-- Hit tracker -->
    <script>
      // Catch browser or non-current Desktop users.
      setTimeout(function(){
        try {
          var version = +tableau.platformVersion.split(".").slice(0,2).join(".");
          if (version < 2019.4) document.body.innerHTML = "<div class='loadError'><p>This WDC only works in Tableau Desktop 2019.4 or higher.</p><p>Your version is: "+version+"</p><p><a href='https://www.tableau.com/support/releases' target='_blank'>Update now.</a></p></div>"
        } catch (e) {
          document.body.innerHTML = "<div class='loadError'><p>You must open this WDC in Tableau Desktop 2019.4+ to use it.</p><p>"+e+"</p><p><a href='https://tableau.github.io/webdataconnector/docs/wdc_use_in_tableau.html' target='_blank'>Learn how.</a></p></div>"
        }
      }, 1000);
    </script>
  </body>
</html>
